* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.boxes {
    width: 15%;
    height: 20%;
    background-color: red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 5px solid white;
}